<ion-view view-title="Rank" >
  <ion-content>
		  <div class="list" id="rank" ng-repeat="item in items">
		  	<div class="row" style="padding:0">
		  			<div class="col col-80" style="padding:0">
		  				<a class="item item-avatar" >
		  					<img ng-src="{{item.src}}">
		  					<h2>Venkman</h2>
		  					<p>Back off, man. I'm a scientist.</p>
		  				</a>
		  			</div>
		  			<div class="col col-20" style="padding:0">
		  				<a class="item"  >
		  					95%
		  				</a>
		  			</div>
		  	</div>
		  
		  </div>
  </ion-content>
</ion-view>
