
<ion-tabs  class="tabs-icon tabs-custom ">

  <!-- Agenda Tab -->
  <ion-tab title="Agenda" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/questions" >
    <ion-nav-view name="tab-questions"></ion-nav-view>
  </ion-tab>

  <!-- Fotos Tab -->
  <ion-tab title="Tags" icon-off="ion-pound" icon-on="ion-pound" href="#/tab/tags">
    <ion-nav-view name="tab-tags"></ion-nav-view>
  </ion-tab>
   <!-- Fotos Tab -->
   <ion-tab title="Category" icon-off="ion-ios-list" icon-on="ion-ios-list" href="#/tab/category" >
   <ion-nav-view name="tab-category"></ion-nav-view>
 </ion-tab>

  <!-- Favoritos Tab -->
  <ion-tab title="Favoritos" icon-off="ion-heart" icon-on="ion-heart" href="#/tab/favoritos">
    <ion-nav-view name="tab-favoritos"></ion-nav-view>
  </ion-tab>

  <!-- Ajustes Tab -->
  <ion-tab title="Ajustes" icon-off="ion-person" icon-on="ion-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
